.number {
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 50%;
    box-shadow: 0 10px 10px #ccc;
    width: 100px;
    height: 100px;
    line-height: 105px;
    text-align: center;
}